/* Supplementary classes for PrimeFlex */

.max-w-6 {
    max-width: 50%;
}

.max-w-8 {
    max-width: 66.6667%;
}

.min-w-4 {
    min-width: 33.3333%;
}

.min-w-6 {
    min-width: 50%;
}

.h-25-3rem {
    height: 25.3rem;
}

.h-36-4rem {
    height: 36.4rem;
}

.h-34rem {
    height: 34rem;
}

.h-48-4rem {
    height: 48.4rem;
}

.custom-scrollbar {
    overflow-y: scroll !important;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 8px;
}
